<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../assets/0.jpg" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="username">Aarón Rodríguez Serrano</h3>
          <h5 class="workPosition">Analista Programador / Arquitecto SW Front</h5>
          <h6 class="useremail">aaron.rodriguez1984@gmail.com</h6>
        </div>
      </div>
    </div>
  </div>
</ion-content>
